@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@model ICollection<Game>
@{

   @if (Model.Count == 1)
   {<h1>There is @Model.Count game.</h1>}
   else if(Model.Count > 1)
   { <h1>There are @Model.Count games.</h1>}
   else
   { <h1>There are no games.</h1>}
    <ul>
    @foreach (var g in Model)
    {
        <li><h4><a href="/Player/Game/@g.Id">@g.GameName</a></h4></li>
    }
    </ul>
    <br/>    
}
